.form-control{
    height: 40px;
    background-color: #f8f9fa;
    border: none;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.form-control:focus {
    outline: none;
    background-color: #a9caea;
    transform: scale(1.01);
}
