.item-grid{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    padding: 20px;
}

.dashboard h2 {
    text-align: center;
    margin-top: 10px;
    color: var(--text-primary);
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    letter-spacing: 2px;
}
